-@posts.each do |post|
  %article{ :class => ( post.external? ? 'external' : 'internal' ) + ( post.metadata('cols') ? ' cols_' + post.metadata('cols') : '' ) }
    %h2
      - if post.external?           
        %a{ :href => post.url }
          = post.title
      - else
        = post.title
    ~ post.html          
    %span.permalink
      [
      %a{ :href => post.tweet,     :title => "Tweet about '#{post.title}'" }
        = "Tweet<span> about '#{post.title}'</span>"
      ]
      &nbsp;
      [
      %a{ :href => post.permalink, :title => "Permalink to '#{post.title}'" }
        = "Permalink<span> to '#{post.title}'</span>"
      ]