!!!
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }
    %title
      = @title + ' &mdash; ' unless @title.nil?
      = Site[:title]
    %link{ :type => "application/atom+xml", :rel => "alternate", :href => Site[:base_url] + "blog/feed.atom" }
    %link{ :type => "image/png", :rel => "icon", :href => "http://static.paulboxley.com/favicon.png" }
    %link{ :type => "text/css", :rel => "stylesheet", :href => "/style.css" }
    %script{ :src => "http://static.paulboxley.com/javascript/jquery-1.6.3.min.js", :type => "text/javascript" }
    %script{ :src => "http://static.paulboxley.com/javascript/jquery.masonry.min.js", :type => "text/javascript" }
    %script{ :src => "http://static.paulboxley.com/javascript/jquery.infinitescroll.js", :type => "text/javascript" }
    /[if lte IE 8]
      %script{ :src => "http://static.paulboxley.com/html5.js", :type => "text/javascript" }
    /
      MyFonts Webfont Build ID 787053, 2011-04-16T08:04:14-0400
      
      The fonts listed in this notice are subject to the End User License
      Agreement(s) entered into by the website owner. All other parties are 
      explicitly restricted from using the Licensed Webfonts(s).
      
      You may obtain a valid license at the URLs below.
      
      Webfont: Proxima Nova Regular
      URL: http://new.myfonts.com/fonts/marksimonson/proxima-nova/regular/
      Foundry: Mark Simonson
      Copyright: Copyright (c) Mark Simonson, 2005. All rights reserved.
      License: http://www.myfonts.com/viewlicense?1056
      Licensed pageviews: 20,000/month
      CSS font-family: ProximaNova-Regular
      CSS font-weight: normal
      
      (c) 2011 Bitstream, Inc
      
    :javascript
      document.domain = "paulboxley.com"
      $(window).load(function(){
        $container = $('#wrapper');
        $container.masonry({
          columnWidth: 300,
          itemSelector: 'article'
        });
        $container.infinitescroll(
          {
            navSelector: '#pages',
            nextSelector: '#pages a.next-page',
            itemSelector: '#wrapper'
          },function(newElements){
            var $newElems = $( newElements );
            $newElems.imagesLoaded(function() {
              $container.masonry('appended', $newElems, true);
            });
          }
        );
      });
      var myfont_webfont_test = false;
      var woffEnabled = true;
      var customPath = "http://static.paulboxley.com/fonts";
    %script{ :src => "http://static.paulboxley.com/fonts/proxima_nova.js", :type => "text/javascript" }
  %body
    %header
      %h1
        = Site[:title]
      %nav
        = haml :navigation, :layout => false
    #wrapper
      = yield
    - if @content_type == :blog
      = haml :pagination, :layout => false